*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color-scheme: light dark;
	font-size: large;
}

body {
	font-family: sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
	color: var(--link-color);
}

button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	cursor: pointer;
}

img {
	max-width: 100%;
}

code {
	background-color: var(--code-bg-color);
	padding: 0.1rem 0.3rem;
	border-radius: 0.2rem;
}

:root {
	--text-color: #111;
	--bg-color: #fff;
	--link-color: #19589c;
	--code-bg-color: #f5f5f5;
	--blockquote-border-color: #ccc;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--bg-color: #252525;
		--link-color: #00ffff;
		--code-bg-color: #333;
		--blockquote-border-color: #555;
	}
}

a.back-home {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background-color: var(--bg-color);
}

button.back-to-top {
	position: fixed;
	right: calc(50% - min(800px, 95%) / 2);
	bottom: -100%;
	transition: bottom 0.4s ease;
	font-size: 1.8rem;
	background-color: var(--bg-color);
	font-weight: bold;
	width: 2.5rem;
	aspect-ratio: 1;
	border: solid 2px var(--link-color);
	border-radius: 8px;
}

button.back-to-top svg {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .2s ease-in-out;
	fill: var(--text-color);
	width: 50%;
	stroke-width: 50px;
}

button.back-to-top svg path {
	stroke: currentColor;
}

button.back-to-top:hover svg,
button.back-to-top:focus-visible svg {
	color: var(--link-color);
	animation: bounce 0.4s ease-in-out infinite alternate;
}

@keyframes bounce {
	to {
		top: 40%;
	}
}

body.show-scroll button.back-to-top {
	bottom: 1rem;
}

section.article {
	max-width: min(800px, 95%);
	margin: 2rem auto 5rem auto;
}

section.article *:not(:where(li, h1, h2, h3, h4, h5, h6, img, :last-child)) {
	margin-bottom: 1rem;
}

section.article blockquote {
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	border-left: 5px solid var(--blockquote-border-color);
	font-style: italic;
}



section.article ul li + li,
section.article ol li + li {
	margin-top: 0.5rem;
}

section.article header img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}

section.article header h1 {
	margin-top: 1rem;
	font-size: 1.7rem;
}

section.article figure figcaption {
	text-align: center;
}
