*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	color-scheme: light dark;
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
	color: var(--link-color);
}

img {
	max-width: 100%;
}

:root {
	--text-color: #111;
	--bg-color: #fff;
	--link-color: #19589c;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--bg-color: #252525;
		--link-color: #ff00ff;
	}
}

a.backhome {
	position: absolute;
	top: .5rem;
	left: .5rem;
}

section.article {
	max-width: min(800px, 95%);
	margin: 2rem auto;
}

section.article header {
	margin-bottom: 1.5rem;
}

section.article header img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}

section.article header h1 {
	margin-top: 1rem;
	font-size: 1.7rem;
}
